.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.menuCategory {
  /* margin: 5px;
  padding: 5px; */

  border-color: aquamarine;
  border-width: 5px;
  /* border-radius: 5%; */
  background-color: aquamarine;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: larger;
}

.menuItem,
.menuSubCat {
  max-width: 200px;
  background-color: bisque;
}
a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  margin: 0px;
  padding: 0px;
  display: block;
}

.dropDownMenuHidden {
  display: none;
}

.dropDownMenuVisible {
  visibility: visible;
}
/* 
ul li ul {
  font-weight: 100;
  visibility: visible;
  display: block;
  background-color: aqua;
  max-width: 300px;
} */

/* ul li ul:hover {
  display: block;
} */

ul li ul {
  visibility: hidden;
}

ul li ul li {
  display: block;
  margin: 5px;
  padding: 5px;

  font-family: "Courier New", Courier, monospace;
}
/* 
ul li ul li:hover {
  display: block;
} */
